In [8]:
import pymongo
import pandas as pd
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")
import json

In [24]:
Client=pymongo.MongoClient("mongodb+srv://saravanan:saravanan@cluster0.pk48nva.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

db= Client["sample_airbnb"]
coll= db["listingsAndReviews"]

In [ ]:
for i in coll.find():
    print(i)

In [27]:
data= []

for i in coll.find({},{"_id":1, "listing_url":1, "name":1, 'property_type':1, 'room_type':1, 'bed_type':1, 'minimum_nights':1, 'maximum_nights':1, 'cancellation_policy':1, 'accommodates':1, 'bedrooms':1, 'beds':1, 'number_of_reviews':1, 'bathrooms':1, 'price':1, 'extra_people':1, 'guests_included':1, 'images.picture_url':1, 'review_scores':1,'cleaning_fee':1}):
    data.append(i)

In [ ]:
data

In [29]:
df_1= pd.DataFrame(data)

In [30]:
df_1.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,35.00,15.00,6,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c..."
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.00,187.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{}
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,1.0,115.00,100.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c..."
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1,1.0,1.0,1,1.5,40.00,NaN,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2,1.0,1.0,0,2.0,701.00,250.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{}

In [31]:
df_1["images"]= df_1["images"].apply(lambda x: x["picture_url"])

In [32]:
df_1["review_scores"]= df_1["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [33]:
df_1.describe().T

                    count       mean        std  min  25%   50%   75%    max
accommodates       5555.0   3.505851   2.297019  1.0  2.0   3.0   4.0   16.0
bedrooms           5550.0   1.411712   1.041942  0.0  1.0   1.0   2.0   20.0
beds               5542.0   2.071454   1.619660  0.0  1.0   2.0   3.0   25.0
number_of_reviews  5555.0  27.606481  49.798376  0.0  1.0   5.0  32.0  533.0
review_scores      5555.0  68.395680  41.829834  0.0  0.0  92.0  98.0  100.0

In [34]:
df_1.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
images                    0
review_scores             0
dtype: int64

## HANDLING THE NUL VALUES

In [ ]:
# The Null Values Feauturs are 
#beds                     
#bedrooms                  
#bathrooms                
#cleaning_fee

In [35]:
df_1["beds"].fillna(0,inplace= True)
df_1["bedrooms"].fillna(0,inplace= True)
df_1["bathrooms"].fillna(0,inplace= True)
df_1["cleaning_fee"].fillna(0,inplace= True)

In [36]:
df_1.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
dtype: int64

## HANDLING THE DATA TYPES

In [38]:
df_1.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.00,35.00,15.00,6,https://a0.muscache.com/im/pictures/e83e702f-e...,89
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.00,187.00,0.00,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,0

In [37]:
df_1.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
cleaning_fee            object
extra_people            object
guests_included         object
images                  object
review_scores            int64
dtype: object

In [39]:
df_1["minimum_nights"]= df_1["minimum_nights"].astype(int)
df_1["maximum_nights"]= df_1["maximum_nights"].astype(int)
df_1["bedrooms"]= df_1["bedrooms"].astype(int)
df_1["beds"]= df_1["beds"].astype(int)
df_1["bathrooms"]= df_1["bathrooms"].astype(str).astype(float).astype(int)
df_1["price"]= df_1["price"].astype(str).astype(float).astype(int)
df_1["extra_people"]= df_1["extra_people"].astype(str).astype(float).astype(int)
df_1["guests_included"]= df_1["guests_included"].astype(str).astype(float).astype(int)
df_1["cleaning_fee"]= df_1["cleaning_fee"].astype(str).astype(float).astype(int)

In [40]:
df_1.dtypes

_id                    object
listing_url            object
name                   object
property_type          object
room_type              object
bed_type               object
minimum_nights          int64
maximum_nights          int64
cancellation_policy    object
accommodates            int64
bedrooms                int64
beds                    int64
number_of_reviews       int64
bathrooms               int64
price                   int64
cleaning_fee            int64
extra_people            int64
guests_included         int64
images                 object
review_scores           int64
dtype: object

## COLLECTING THE HOST DETAILS

In [41]:
host= []
for i in coll.find({},{"_id":1, "host":1}):
    host.append(i)

In [ ]:
host

In [43]:
df_host= pd.DataFrame(host)

In [44]:
host_columns= {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[], 'host_thumbnail_url':[], 'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 'host_is_superhost':[], 'host_has_profile_pic':[], 'host_identity_verified':[], 'host_listings_count':[], 'host_total_listings_count':[], 'host_verifications':[]}

for i in df_host["_id"]:
    host_columns["_id"].append(i)
for i in df_host["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [45]:
df_host_1= pd.DataFrame(host_columns)

In [46]:
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",within an hour,https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,,90.0,True,True,True,3,3,"[email, phone, reviews, manual_offline, jumio,..."
1,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",None,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,NaN,False,True,False,1,1,"[email, phone, jumio, offline_government_id, s..."

In [47]:
df_host_1.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

## Checking the "host_neighbourhood" details

In [48]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
list_index= []
for index,row in df_host_1.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [49]:
len(list_index)

1923

## Handling the Null values and empty values for "host"

In [50]:
df_host_1["host_response_time"].fillna("Not Specified",inplace= True)
df_host_1["host_response_rate"].fillna("Not Specified",inplace= True)
df_host_1["host_neighbourhood"]= df_host_1["host_neighbourhood"].replace({'':"Not Specified"})

In [51]:
df_host_1.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [52]:
df_host_1

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",within an hour,https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,90.0,True,True,True,3,3,"[email, phone, reviews, manual_offline, jumio,..."
1,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",Not Specified,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,Not Specified,False,True,False,1,1,"[email, phone, jumio, offline_government_id, s..."
2,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,100.0,False,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
3,10030955,51496939,https://www.airbnb.com/users/show/51496939,Livia,BR,Not Specified,https://a0.muscache.com/im/pictures/b7911710-9...,https://a0.muscache.com/im/pictures/b7911710-9...,Lagoa,Not Specified,False,True,False,1,1,"[email, phone, jumio, government_id]"
4,10051164,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within an hour,https://a0.muscache.com/im/pictures/eb09c9cb-b...,https://a0.muscache.com/im/pictures/eb09c9cb-b...,Catete,80.0,False,True,True,5,5,"[email, phone, facebook, reviews, jumio, gover..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9703075,38014669,https://www.airbnb.com/users/show/38014669,Stephanie,"New York, New York, United States",within an hour,https://a0.muscache.com/im/users/38014669/prof...,https://a0.muscache.com/im/users/38014669/prof...,Bushwick,100.0,False,True,False,1,1,"[email, phone, reviews]"
5551,9733671,50223046,https://www.airbnb.com/users/show/50223046,Gaëtan,BR,Not Specified,https://a0.muscache.com/im/pictures/912e278d-9...,https://a0.muscache.com/im/pictures/912e278d-9...,Copacabana,Not Specified,False,True,False,1,1,"[email, phone]"
5552,9795621,18967737,https://www.airbnb.com/users/show/18967737,Julio Cesar,"Rio de Janeiro, Rio de Janeiro, Brazil",within an hour,https://a0.muscache.com/im/pictures/user/55c51...,https://a0.muscache.com/im/pictures/user/55c51...,Not Specified,100.0,False,True,True,1,1,"[email, phone, facebook, reviews, jumio, gover..."
5553,9936016,47092481,https://www.airbnb.com/users/show/47092481,Aliane,BR,Not Specified,https://a0.muscache.com/im/pictures/4b17fc8e-4...,https://a0.muscache.com/im/pictures/4b17fc8e-4...,Not Specified,Not Specified,False,True,False,1,1,[phone]
5554,9951865,51142039,https://www.airbnb.com/users/show/51142039,Dailton,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within a few hours,https://a0.muscache.com/im/pictures/user/ad3e9...,https://a0.muscache.com/im/pictures/user/ad3e9...,Rio Comprido,100.0,False,True,False,3,3,"[email, phone, reviews]"

In [53]:
# Changing the "True" or "False" features

df_host_1["host_is_superhost"]= df_host_1["host_is_superhost"].map({False: "No", True: "Yes"})
df_host_1["host_has_profile_pic"]= df_host_1["host_has_profile_pic"].map({False: "No", True: "Yes"})
df_host_1["host_identity_verified"]= df_host_1["host_identity_verified"].map({False: "No", True: "Yes"})

In [54]:
df_host_1.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",within an hour,https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,90.0,Yes,Yes,Yes,3,3,"[email, phone, reviews, manual_offline, jumio,..."
1,10057447,51612949,https://www.airbnb.com/users/show/51612949,Konstantin,"Montreal, Quebec, Canada",Not Specified,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,Not Specified,No,Yes,No,1,1,"[email, phone, jumio, offline_government_id, s..."
2,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,100.0,No,Yes,Yes,3,3,"[email, phone, reviews, jumio, offline_governm..."
3,10030955,51496939,https://www.airbnb.com/users/show/51496939,Livia,BR,Not Specified,https://a0.muscache.com/im/pictures/b7911710-9...,https://a0.muscache.com/im/pictures/b7911710-9...,Lagoa,Not Specified,No,Yes,No,1,1,"[email, phone, jumio, government_id]"
4,10051164,51326285,https://www.airbnb.com/users/show/51326285,Beatriz,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within an hour,https://a0.muscache.com/im/pictures/eb09c9cb-b...,https://a0.muscache.com/im/pictures/eb09c9cb-b...,Catete,80.0,No,Yes,Yes,5,5,"[email, phone, facebook, reviews, jumio, gover..."

## Collect the Address Details

In [55]:
address= []
for i in coll.find({}, {"_id":1, "address":1}):
    address.append(i)

In [56]:
df_address= pd.DataFrame(address)

In [57]:
address_columns= {'_id':[], 'street':[], 'suburb':[], 'government_area':[], 'market':[], 'country':[],
                   'country_code':[], 'location_type':[], "longitude":[], "latitude":[],
                    "is_location_exact":[]}

for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]:
    address_columns["street"].append(i["street"])
    address_columns["suburb"].append(i["suburb"])
    address_columns["government_area"].append(i["government_area"])
    address_columns["market"].append(i["market"])
    address_columns["country"].append(i["country"])
    address_columns["country_code"].append(i["country_code"])
    address_columns["location_type"].append(i["location"]["type"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(i["location"]["is_location_exact"])

In [58]:
df_address_1= pd.DataFrame(address_columns)

In [59]:
df_address_1.head(3)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10083468,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61123,41.15225,False
1,10057447,"Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.59111,45.51889,True
2,10006546,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.14130,False

In [60]:
df_address_1.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [61]:
# Checking the empty values ('') for all features

#for i in df_address_1.columns:
id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address_1.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)
        
    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)
    
    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index) 

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [62]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

## Handling the empty values and Boolian Values

In [63]:
# "suburb" and "market" have a empty values

df_address_1["suburb"]= df_address_1["suburb"].replace({'':"Not Specified"})
df_address_1["market"]= df_address_1["market"].replace({'':"Not Specified"})

df_address_1["is_location_exact"]= df_address_1["is_location_exact"].map({False:"No", True:"Yes"})

In [64]:
df_address_1

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10083468,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.611230,41.152250,No
1,10057447,"Montréal, Québec, Canada",Mile End,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.591110,45.518890,Yes
2,10006546,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.613080,41.141300,No
3,10030955,"Rio de Janeiro, Rio de Janeiro, Brazil",Lagoa,Lagoa,Rio De Janeiro,Brazil,BR,Point,-43.205047,-22.971951,Yes
4,10051164,"Rio de Janeiro, Rio de Janeiro, Brazil",Catete,Catete,Rio De Janeiro,Brazil,BR,Point,-43.180157,-22.926382,Yes
...,...,...,...,...,...,...,...,...,...,...,...
5550,9703075,"Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.920460,40.689960,Yes
5551,9733671,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,Rio De Janeiro,Brazil,BR,Point,-43.191108,-22.981273,No
5552,9795621,"Rio de Janeiro, Rio de Janeiro, Brazil",Barra da Tijuca,Jacarepaguá,Rio De Janeiro,Brazil,BR,Point,-43.396270,-22.971736,Yes
5553,9936016,"Rio de Janeiro, Rio de Janeiro, Brazil",Lapa,Centro,Rio De Janeiro,Brazil,BR,Point,-43.173761,-22.908336,No
5554,9951865,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Tijuca,Rio Comprido,Rio De Janeiro,Brazil,BR,Point,-43.210667,-22.918155,No

## Availability

In [69]:
availability= []
for i in coll.find({}, {"_id":1, "availability":1}):
    availability.append(i)

In [66]:
df_availabe= pd.DataFrame(availability)

In [67]:
df_availabe

           _id                                       availability
0     10083468  {'availability_30': 16, 'availability_60': 40,...
1     10057447  {'availability_30': 0, 'availability_60': 0, '...
2     10006546  {'availability_30': 28, 'availability_60': 47,...
3     10030955  {'availability_30': 28, 'availability_60': 58,...
4     10051164  {'availability_30': 10, 'availability_60': 10,...
...        ...                                                ...
5550   9703075  {'availability_30': 29, 'availability_60': 59,...
5551   9733671  {'availability_30': 0, 'availability_60': 0, '...
5552   9795621  {'availability_30': 23, 'availability_60': 50,...
5553   9936016  {'availability_30': 0, 'availability_60': 0, '...
5554   9951865  {'availability_30': 30, 'availability_60': 60,...

[5555 rows x 2 columns]

In [70]:
availabe_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in df_availabe["_id"]:
    availabe_columns["_id"].append(i)

for i in df_availabe["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [71]:
df_availabe_1= pd.DataFrame(availabe_columns)

In [72]:
df_availabe_1

,_id,availability_30,availability_60,availability_90,availability_365
0,10083468,16,40,67,335
1,10057447,0,0,0,0
2,10006546,28,47,74,239
3,10030955,28,58,88,363
4,10051164,10,10,21,296
...,...,...,...,...,...
5550,9703075,29,59,89,364
5551,9733671,0,0,0,0
5552,9795621,23,50,64,238
5553,9936016,0,0,0,0
5554,9951865,30,60,90,365

In [73]:
df_availabe_1.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [74]:
df_availabe_1.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

## Collecting the Amenities

In [75]:
amenities= []
for i in coll.find({},{"_id":1, "amenities":1}):
    amenities.append(i)

In [76]:
df_amenities= pd.DataFrame(amenities)

In [77]:
def sort_amenities(x):
    a= x
    a.sort()
    return a

In [78]:
df_amenities["amenities"]= df_amenities["amenities"].apply(lambda x: sort_amenities(x))

In [79]:
df_amenities

           _id                                          amenities
0     10083468  [Accessible-height bed, Bed linens, Cable TV, ...
1     10057447  [24-hour check-in, Dryer, Essentials, Family/k...
2     10006546  [Bed linens, Buzzer/wireless intercom, Cable T...
3     10030955  [24-hour check-in, Air conditioning, Buzzer/wi...
4     10051164  [Air conditioning, Cable TV, Essentials, Famil...
...        ...                                                ...
5550   9703075  [24-hour check-in, Air conditioning, Bathtub, ...
5551   9733671  [Air conditioning, Buzzer/wireless intercom, D...
5552   9795621  [Air conditioning, BBQ grill, Bed linens, Cabl...
5553   9936016  [Air conditioning, Buzzer/wireless intercom, C...
5554   9951865  [Elevator, Essentials, Free street parking, Gy...

[5555 rows x 2 columns]

In [80]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [81]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

## Merging the All DataFrames

In [82]:
#df_1
#df_host_1
#df_address_1
#df_availabe_1
#df_amenities
df= pd.merge(df_1, df_host_1, on="_id")
df= pd.merge(df, df_address_1, on="_id")
df= pd.merge(df, df_availabe_1, on="_id")
df= pd.merge(df, df_amenities, on="_id")